@font-face {
    font-family: Overpass;
    src: url(/static/fonts/Overpass/Overpass-Regular.ttf);
}

.overpass {
    font-family: Overpass !important;
}

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}