.bg-smoke {
    background-color: #e3e3e3 !important;
}

.border-y-line {
    border-top: 1px solid #d5d5d5 !important;
    border-bottom: 1px solid #d5d5d5 !important;
}

.border-1 {
    border: 1px solid #d5d5d5;
}

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}