@font-face {
    font-family: Overpass;
    src: url(/static/fonts/Overpass/Overpass-Regular.ttf);
}

.progress-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 4px;
    width: 0%;
    background: linear-gradient(to right, #6406fb, #8119a4);
}

.overpass {
    font-family: Overpass !important;
}

.def-cursor {
    cursor: default !important;
}

.bg-smoke {
    background-color: #e3e3e3 !important;
}

.border-y-line {
    border-top: 1px solid #d5d5d5 !important;
    border-bottom: 1px solid #d5d5d5 !important;
}

.border-1 {
    border: 1px solid #d5d5d5;
}

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}