{% extends "layout.html" %}
{% load static %}
{% block title %}
    Testleri üýtgetmek
{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
    <div class="container my-2">
        <div class="my-2 d-flex">
            <a class="btn btn-success ml-auto" href="add/">
                <i class="bi bi-plus"></i> Test goşmak
            </a>
        </div>
        <table class="table border-1">
            <thead>
                <tr class="border-bottom-line bg-light">
                    <th scope="col">№</th>
                    <th scope="col">Testiň ady</th>
                    <th scope="col">Dowamlylygy</th>
                    <th scope="col">Başlamaly wagty</th>
                    <th scope="col">Soňlanmaly wagty</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in challenges %}
                    <tr class="table-p-75 border-y-line">
                        <th scope="row">{{ row.id }}</th>
                        <td>{{ row.name }}</td>
                        <td>{{ row.time_for_event }} minut</td>
                        <td>{{ row.start }}</td>
                        <td>{{ row.end }}</td>
                        <td>
                            <a href="edit/{{ row.pk }}/" class="btn btn-primary"><i class="bi bi-gear"></i></a> <a href="delete/{{ row.pk }}/" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
{% block scripts %}
{% endblock scripts %}
