{% extends "layout.html" %}
{% load static %}
{% block title %}
    Excel arkaly import
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/toggle.css' %}">
{% endblock head %}
{% block body %}
    <div class="container my-2">
        {% if message %}
            <div class="alert alert-{% if type == 'success' %}success{% else %}danger{% endif %} fade show"
                 role="alert">{{ message }}</div>
        {% endif %}
        <div class="row mt-4 p-4 rounded bg-light"
             style="margin-bottom: 200px !important">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file">Excel:</label>
                <input id="file"
                       type="file"
                       class="form-control my-2"
                       accept=".xlsx"
                       name="excel">
                <div class="form-check form-switch my-2">
                    Surat galyby
                    <input type="checkbox" class="form-check-input" id="image_checkbox">
                </div>
                <div id="filebox" class="my-2" style="display: none !important;">
                    <label for="zipfile" class="my-2">ZIP faýl:</label>
                    <input type="file" class="form-control my-2" id="zipfile" name="zip">
                </div>
                <div class="d-flex">
                    <a href="{% static 'xlsx/nusga.xlsx' %}"
                       download
                       class="btn btn-outline-secondary mt-4">Nusga</a>
                    <button type="submit" class="btn btn-primary mt-4 ml-auto">Tassyklamak</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/xlsx_import.js' %}"></script>
{% endblock scripts %}
