{% extends "layout.html" %}
{% load static %}
{% block title %}
    Dolandyryjy gurallary
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock head %}
{% block body %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light" id="sidebar">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
                    <p class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline mt-3">Gurallar</span>
                    </p>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="{% url 'challenges' %}" class="nav-link align-middle px-0">
                                <span class="ms-1 d-none d-sm-inline">Ýaryşlaryň netijeleri</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'editable_challenges' %}"
                               class="nav-link px-0 align-middle">
                                <span class="ms-1 d-none d-sm-inline">Ýaryşlary üýtgetmek</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'real_time_monitoring' %}"
                               class="nav-link px-0 align-middle">
                                <span class="ms-1 d-none d-sm-inline">Göni ýaýlymda yzarlamak</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/window_size.js' %}"></script>
{% endblock scripts %}
