{% extends "layouts/empty.html" %}
{% load static %}
{% block title %}
    Giriş
{% endblock title %}
{% block head %}
    <link href="{% static 'challenge/css/login.css' %}" rel="stylesheet">
{% endblock head %}
{% block navbar_items %}
    <a class="nav-link active" aria-current="page" href="#">Giriş</a>
{% endblock navbar_items %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        <input type="text"
               placeholder="Familiýasy"
               class="form__input"
               id="last_name"
               name="last_name" />
        <label for="last_name" class="form__label">Familiýasy</label>
        <input type="text"
               placeholder="Ady"
               name="first_name"
               class="form__input"
               id="first_name" />
        <label for="first_name" class="form__label">Ady</label>
        <input type="text"
               placeholder="Edarasy"
               name="agency"
               class="form__input"
               id="agency" />
        <label for="agency" class="form__label">Edarasy</label>
        <div>
            <button class="btn btn-primary" type="submit">Girmek</button>
        </div>
    </form>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'challenge/js/gsap.min.js' %}"></script>
    <script src="{% static 'challenge/js/ScrollTrigger.min.js' %}"></script>
{% endblock scripts %}
